<div class='form'>
	<%= form_for @document, url: imitation_doc_path do |f| %>
	<p>

		<%= f.text_area :body, id: :imitation_typer %>
	</p>
	<p>
		<%= f.submit 'submit', class: 'submitter' %>
	</p>
	<% end %>
</div>