<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<h1 class='exercise_explination'><%= @prompt.setup %></h1>
		</div>
		<div class="col-lg-12">
			<%= form_for @document, url: prompts_path, :html => { :onsubmit => "return validateText();" } do |f| %>
				<p>
					<%= f.text_area :body, id: :prompts_doc, onkeyup: ("count(this)"), onclick: ("setTenMins('clockdiv')") %>
				</p>
				<p>
					<%= f.submit "Save" %>
				</p>
				<p id='wordCounter'>Word Count:<input type="text" id="c" onkeyup="count(document.new_document.prompts_doc,this)"></p>
			<% end %>
		</div>
		<div class="col-lg-12">
			<div id="clockdiv" onclick="setTenMins('clockdiv')">Start</div>
		</div>
	</div>
</div>


