<%= form_for @document, url: five_path do |f| %>
	<%= f.hidden_field :words, value: params[:words] || @collected_words %>
	<p>
		<%= f.text_area :body, id: :five_word, :value => params[:body], onclick: ("setTenMins('clockdiv')")%>
	</p>
	<p>
		<%= f.submit "Save" %>
	</p>
<% end %>