<div class="container">

		<div class="col-lg-12"><h1 class='exercise_explination'>Write a 200 word essay including the 5 random words listed below: </h1>
		</div>

			<div class="col-lg-12">
				<% @fives.each do |five| %>
					<h3 class='one_of_five'><%= five.word %></h3>
				<% end %>
			</div>
		
		<div class="col-lg-12">
			<%= render "form" %>
		</div>
		<div class="col-lg-12">
			<div id="clockdiv" onclick="setTenMins('clockdiv')">Start</div>
		</div>
</div>