<h1>Five Word Exercise</h1>
<h3>Write a 200 word essay including the 5 random words listed below: </h3>

<% unless params[:words] == nil then %>
	<%	words = params[:words].split(",") %>
	<% words.each do |m| %>
	<li><%= m %></li>
	<% end %>
	<% else %>
	<% @fives.each do |five| %>
		<ul>
			<li><%= five.word %></li>
		</ul>
	<% end %>
<% end %>
<%= render "form" %>
<div id="clockdiv" onclick="setTenMins('clockdiv')">Start</div>
