<!-- List five words for the user to use in his writing -->

<h1>Here Are Five Words</h1>

<h3>Gondala</h3>
<h3>False Teeth</h3>
<h3>Cloak</h3>
<h3>Book</h3>
<h3>Estate</h3>

<!-- Give directions for the exercise -->

<p>In a 200 word document, use each of the following words at least once in a story.</p>


<!-- bring up blank document for them to write in and submit -->
<%= render "form" %>


<!-- Timer for five min -->